body{
	margin: 0;
	color: #333;
	background: #f0f0f0
}
.panel{
	width: 400px;
	height: 240px;
	border: 1px solid #ccc;
	background: #fff;
	position: relative;
}
.panel-title{
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	background: #bbb;
	cursor: move
}
.ui-resizable-right,
.ui-resizable-bottom,
.ui-resizable-rightBottom{
	position: absolute
}
.ui-resizable-right{
	right: 0;
	top: 0;
	width: 10px;
	height: 100%;
	cursor: e-resize
}
.ui-resizable-bottom{
	bottom: 0;
	width: 100%;
	height: 10px;
	cursor: s-resize
}
.ui-resizable-rightBottom{
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	cursor: se-resize
}